<div class="{{theme}}" ng-controller="MainCtrl">
    <div>
        <ul class="albums">
            <li ng-repeat="album in albums" ng-click="open(album)">{{album.title || album.name}}</li>
        </ul>
        <div class="book">
            <div class="photo">
                <img ng-src="./albums/{{album.name}}/photos/{{viewImage}}"/>
            </div>
            <div class="nav">
                <div class="prev" ng-click="prev()"></div>
                <div class="next" ng-click="next()"></div>
                <div class="thumbs">
                    <img ng-class="{on:image === viewImage}" ng-repeat="image in album.images" ng-src="./albums/{{album.name}}/thumbs/{{image}}" ng-click="view(image)" />
                </div>
            </div>
        </div>
    </div>
</div>