<!DOCTYPE html>
<html ng-app="SimpleAlbum">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="./stylesheets/style.css" />
    
    <script type="application/javascript" src="./javascripts/lib/underscore-min.js"></script>
    <script type="application/javascript" src="./javascripts/lib/jquery-2.1.3.min.js"></script>
    <script type="application/javascript" src="./javascripts/lib/angular.js"></script>
    <script type="application/javascript" src="./javascripts/lib/angular-route.js"></script>
    <script type="application/javascript" src="./javascripts/app/simplealbum.js"></script>
</head>
<body>
    <ng-view></ng-view>
</body>
</html>