<!DOCTYPE html>
<html ng-app="SimpleAlbum">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="./stylesheets/style.css" />
    
    <script type="application/javascript" src="./javascripts/lib/underscore-min.js"></script>
    <script type="application/javascript" src="./javascripts/lib/jquery-2.1.3.min.js"></script>
    <script type="application/javascript" src="./javascripts/lib/angular.min.js"></script>
    <script type="application/javascript" src="./javascripts/app/simplealbum.js"></script>
</head>
<body ng-controller="MainCtrl" class="basic">
    <div>
        <ul class="albums">
            <li ng-repeat="album in albums" ng-click="open(album)">{{album.title || album.name}}</li>
        </ul>
        <div class="book">
            <div class="photo">
                <img ng-src="{{viewImage}}" />
            </div>
            <div class="nav">
                <div>
                    <img ng-repeat="image in album.images" ng-src="./albums/{{album.name}}/thumbs/{{image}}" ng-click="view(image)" />
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>